<form action="javascript:void(0);" class="widget_content">
    <div class="field">
        <label>
            Email :
            <input type="text" class="login_input" placeholder="Enter your name"/>
        </label>
    </div>
    <div class="field">
        <label>
            Password :
            <input type="password" class="password_input" placeholder="Enter your password" />
        </label>
    </div>
    <div class="field">
        <button class="pure-button logger_button">Login</button>
    </div>
</form>