.logger_widget {

  position: absolute;
  right: -250px;
  width: 250px;
  bottom: 20px;
  background: rgba(211, 211, 211, 0.50);
  padding: 20px;
  transition: right 0.2s;

  &:hover {
    right: 0px;
  }

  .icon_container {
    float: left;
    line-height: 100%;
    display: table;
    position: absolute;
    left: 10px;
    top: 10px;
    bottom : 10px;
    i {
      display: table-cell;
      vertical-align: middle;
    }
  }

  .widget_content {
    margin-left: 30px;
  }

  .field {
    clear: right;
    input {
      border: none;
      padding: 5px;
      background: #d7d7d7;
      float: right;
    }

  }


  .delogger {
    text-align: center;
  }
}